body{
    background-color: #202020
}

hr{ border-top: 1px solid #ff8600;margin-bottom: 50px;margin-top: 25px;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color:white;
    background-color: black;
}

.jumbotron{background-color: #ff8600;}

.form-control{background-color: #ff8600;color: black;}

.form-control::-webkit-input-placeholder { color: black;}

.text-muted{color: silver;}

legend{color: #ff8600; border-bottom: 1px solid #ff8600;}

.btn-default {background-color: #ff8600; border-color: #ff8600;}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {background-color: #ff8600;}

.btn-warning {background-color: #ff8600; border-color: #ff8600;}