.body-doc {background-color: black; height: 100%; width: 100%}

.nav-doc{
/*    position: absolute;
    top: 0;
    left: 0;           
    width: 300px;
    overflow: hidden;*/
    height: 100%; 
    background-color: black;
    padding: 0px;
    margin-bottom: 0px;
}

.nav-title{
    background-color: black;
    height: 80px; 
    padding-left: 100px;
}

a:hover{
    color: black;
}

h2 > a:hover{
    color: white;
}


.nav-pills > li{
    background-color: darkgrey;
}

.nav-pills > li > a {
    color: black;
    padding: 5px 8px;
    border-radius: 0px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
}

.nav-desplegable > li{
    color: black;
    padding-left: 30px;
    background-color: #9d9d9d;
}

.nav-desplegable > li:hover{
    background-color: silver;
}

.nav-desplegable > li > a{
    position: relative;
    display: block;
    color: black;
}

.nav-pills > .nav-desplegable > li.active{
    background-color:silver;
}

.nav-pills > .nav-desplegable > li.active > a,
.nav-pills > .nav-desplegable > li.active > a:hover,
.nav-pills > .nav-desplegable > li.active > a:focus {
  color: black;
  font-weight: bold;
}

.breadcrumb > li.active > a{color: #777;}
.breadcrumb > li > a:hover{color: black;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: black;
    background-color: #9d9d9d;
}

.documentation{
/*    margin-left: 300px;*/
    background-color: white;
    color: black;
    min-height: 100vh;
    margin-bottom: 0px;
    padding: 0px;
}

.container-doc{padding-left: 15px; padding-right: 15px;}